@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 130%;
}

*:not(h1, h2, h3, h4, h5, h6),
*::before,
*::after {
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo 2', cursive;
}

h2,
h3,
h4,
h5,
h6 {
  color: #403937;
}
